{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<header>
<h1>O autorze</h1>
</header>
<article>
<h2>Krótko mówiąc...</h2>
<p>Informacje o autorzę są ściśle ale to ściśle tajne. Na potrzeby tego projektu ustalmy, że twórcą jest elektryczny hipopotam jeżdżący na kontrabasie. Brzmi dobrze, co nie. A więc idąc dalej tym tropem, warto podkreślić, że autor jest całkiem zadowolony z tejże strony i życzy jej jak najlepiej. Pisząc "jak najlepiej", ma na myśli, że owa strona będzie płynąć w eterze niczym dzwięki z kontrabasu. Niech idzie w eter i jeszcze dalej... w niebiosa! Wróży jej ekspansję godną portugalskich odkrywców, europejskich kolonizatorów i.... Hana Solo. Lecz prawda, jeśli w ogóle istnieje, to jest właśnie taka, że strona ta zestarzeje się w zapomnieniu, w głebokim zapomnieniu, niczym loch z "300", a nawet rzec śmiało można, że w niepamięci ludzkiej. No cóż...</p>
</article>
<footer>
  <p>Przygotował Jacek Wandachowicz</p>
  <p>Przydatne linki:</p>
  <a href="https://pl.ccm.net/faq/10120-uklad-klawiatury-qwerty-i-azerty">Wiecej o klawiaturach QWERTY I AZERTY</a>
  <br>
  <a href="https://gadzetomania.pl/60179,klawiatura-qwerty-kto-wymyslil-tak-niewygodne-ulozenie-klawiszy">Krótka historia klawiatury</a>
</footer>
</html>
{% endblock content %}
